
CREATE DATABASE [SWP391_FurryFriends]
Use SWP391_FurryFriends

CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[commentValue] [ntext] NOT NULL,
	[createdDate] [date] NULL,
	[sta] [bit] NOT NULL,
 CONSTRAINT [PK__comment__E7957687F6CDC0CF] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exchange]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exchange](
	[exchange_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NULL,
	[is_free] [bit] NULL,
	[price] [money] NULL,
	[address] [nvarchar](max) NULL,
	[isFinish] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[exchange_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterestPost]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterestPost](
	[IntersestPost] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PostId] [int] NULL,
 CONSTRAINT [PK_InterestPost] PRIMARY KEY CLUSTERED 
(
	[IntersestPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikePost]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikePost](
	[LikePostId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PostId] [int] NULL,
 CONSTRAINT [PK_LikePost] PRIMARY KEY CLUSTERED 
(
	[LikePostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[category_id] [int] NULL,
	[post_type] [int] NULL,
	[title] [nvarchar](50) NOT NULL,
	[post_content] [ntext] NOT NULL,
	[post_img] [ntext] NOT NULL,
	[isPublic] [bit] NULL,
	[datePosted] [datetime] NOT NULL,
	[reason] [nvarchar](50) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[postStatus]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[postStatus](
	[postStatusId] [int] NOT NULL,
	[postStatusValue] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[postStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[postType]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[postType](
	[postTypeID] [int] NOT NULL,
	[postTypeName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[postTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[reporter_id] [int] NOT NULL,
	[post_id] [int] NULL,
	[comment_id] [int] NULL,
	[exchange_id] [int] NULL,
	[reason] [ntext] NULL,
	[report_date] [datetime] NOT NULL,
	[report_status] [bit] NOT NULL,
	[report_content_id] [int] NULL,
 CONSTRAINT [PK__report__779B7C58D9C78334] PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportContent]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportContent](
	[ReportContentId] [int] NOT NULL,
	[ReportContent] [ntext] NOT NULL,
	[deleteFlag] [bit] NULL,
 CONSTRAINT [PK_ReportContent] PRIMARY KEY CLUSTERED 
(
	[ReportContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/30/2023 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[pwd] [varchar](20) NULL,
	[email] [varchar](40) NULL,
	[emailId] [ntext] NULL,
	[phone_num] [varchar](15) NULL,
	[user_status] [bit] NULL,
	[role_id] [int] NULL,
	[user_address] [nvarchar](100) NULL,
	[avatar] [ntext] NULL,
	[point] [int] NULL,
 CONSTRAINT [PK__users__CB9A1CDF8BCF21DD] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name]) VALUES (1, N'Chó')
INSERT [dbo].[category] ([category_id], [category_name]) VALUES (2, N'Mèo')
INSERT [dbo].[category] ([category_id], [category_name]) VALUES (3, N'Dịch vụ và dụng cụ')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([comment_id], [post_id], [userID], [commentValue], [createdDate], [sta]) VALUES (1, 2, 3, N'Ảo thật đấy', CAST(N'2023-10-30' AS Date), 1)
INSERT [dbo].[comment] ([comment_id], [post_id], [userID], [commentValue], [createdDate], [sta]) VALUES (2, 2, 3, N'hihihihi', CAST(N'2023-10-30' AS Date), 1)
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[exchange] ON 

INSERT [dbo].[exchange] ([exchange_id], [post_id], [is_free], [price], [address], [isFinish]) VALUES (1, 2, 0, 100000.0000, N'Ha noi', 0)
INSERT [dbo].[exchange] ([exchange_id], [post_id], [is_free], [price], [address], [isFinish]) VALUES (2, 2, 0, 1090909.0000, N'Ha noi', 0)
INSERT [dbo].[exchange] ([exchange_id], [post_id], [is_free], [price], [address], [isFinish]) VALUES (3, 2, 0, 100000.0000, N'Ha noi', 0)
SET IDENTITY_INSERT [dbo].[exchange] OFF
GO
SET IDENTITY_INSERT [dbo].[InterestPost] ON 

INSERT [dbo].[InterestPost] ([IntersestPost], [UserId], [PostId]) VALUES (1, 3, 2)
SET IDENTITY_INSERT [dbo].[InterestPost] OFF
GO
SET IDENTITY_INSERT [dbo].[LikePost] ON 

INSERT [dbo].[LikePost] ([LikePostId], [UserId], [PostId]) VALUES (1, 2, 2)
SET IDENTITY_INSERT [dbo].[LikePost] OFF
GO
SET IDENTITY_INSERT [dbo].[post] ON 

SET IDENTITY_INSERT [dbo].[post] OFF
GO
INSERT [dbo].[postStatus] ([postStatusId], [postStatusValue]) VALUES (1, N'Chờ phê duyệt')
INSERT [dbo].[postStatus] ([postStatusId], [postStatusValue]) VALUES (2, N'Chấp nhận')
INSERT [dbo].[postStatus] ([postStatusId], [postStatusValue]) VALUES (3, N'Từ chối')
GO
INSERT [dbo].[postType] ([postTypeID], [postTypeName]) VALUES (1, N'Sức khỏe cún cưng')
INSERT [dbo].[postType] ([postTypeID], [postTypeName]) VALUES (2, N'Cung cấp thông tin thú cưng')
INSERT [dbo].[postType] ([postTypeID], [postTypeName]) VALUES (3, N'Mẹo nuôi chó mèo')
GO
SET IDENTITY_INSERT [dbo].[report] ON 

INSERT [dbo].[report] ([report_id], [reporter_id], [post_id], [comment_id], [exchange_id], [reason], [report_date], [report_status], [report_content_id]) VALUES (1, 3, 2, NULL, NULL, N'Quas spam', CAST(N'2023-10-30T00:00:00.000' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[report] OFF
GO
INSERT [dbo].[ReportContent] ([ReportContentId], [ReportContent], [deleteFlag]) VALUES (1, N'Bài viết lạm dụng', 1)
INSERT [dbo].[ReportContent] ([ReportContentId], [ReportContent], [deleteFlag]) VALUES (2, N'Bài viết này spam', 1)
INSERT [dbo].[ReportContent] ([ReportContentId], [ReportContent], [deleteFlag]) VALUES (3, N'Bài viết chứa nội dung sai lệch', 1)
GO
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[user_role] ([role_id], [role_name]) VALUES (2, N'Staff')
INSERT [dbo].[user_role] ([role_id], [role_name]) VALUES (3, N'Member')
SET IDENTITY_INSERT [dbo].[user_role] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userID], [username], [pwd], [email], [emailId], [phone_num], [user_status], [role_id], [user_address], [avatar], [point]) VALUES (1, N'john_doe', N'password123', N'john@example.com', NULL, N'1234567890', 1, 1, N'123 Main St, City', NULL, 100)
INSERT [dbo].[users] ([userID], [username], [pwd], [email], [emailId], [phone_num], [user_status], [role_id], [user_address], [avatar], [point]) VALUES (2, N'jane_smith', N'securepass', N'jane@example.com', NULL, N'9876543210', 1, 2, N'456 Elm St, Town', NULL, 75)
INSERT [dbo].[users] ([userID], [username], [pwd], [email], [emailId], [phone_num], [user_status], [role_id], [user_address], [avatar], [point]) VALUES (3, N'mary_jones', N'pass123', N'mary@example.com', NULL, N'5551237890', 1, 3, N'789 Oak St, Village', NULL, 50)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK__comment__post_id__36B12243] FOREIGN KEY([post_id])
REFERENCES [dbo].[post] ([post_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK__comment__post_id__36B12243]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK__comment__userID__37A5467C] FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK__comment__userID__37A5467C]
GO
ALTER TABLE [dbo].[exchange]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[post] ([post_id])
GO
ALTER TABLE [dbo].[InterestPost]  WITH CHECK ADD  CONSTRAINT [FK_InterestPost_post] FOREIGN KEY([PostId])
REFERENCES [dbo].[post] ([post_id])
GO
ALTER TABLE [dbo].[InterestPost] CHECK CONSTRAINT [FK_InterestPost_post]
GO
ALTER TABLE [dbo].[InterestPost]  WITH CHECK ADD  CONSTRAINT [FK_InterestPost_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[InterestPost] CHECK CONSTRAINT [FK_InterestPost_users]
GO
ALTER TABLE [dbo].[LikePost]  WITH CHECK ADD  CONSTRAINT [FK_LikePost_post] FOREIGN KEY([PostId])
REFERENCES [dbo].[post] ([post_id])
GO
ALTER TABLE [dbo].[LikePost] CHECK CONSTRAINT [FK_LikePost_post]
GO
ALTER TABLE [dbo].[LikePost]  WITH CHECK ADD  CONSTRAINT [FK_LikePost_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[LikePost] CHECK CONSTRAINT [FK_LikePost_users]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([post_type])
REFERENCES [dbo].[postType] ([postTypeID])
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK__post__userID__2F10007B] FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK__post__userID__2F10007B]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK__report__comment___3C69FB99] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK__report__comment___3C69FB99]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK__report__exchange__3D5E1FD2] FOREIGN KEY([exchange_id])
REFERENCES [dbo].[exchange] ([exchange_id])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK__report__exchange__3D5E1FD2]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK__report__post_id__3B75D760] FOREIGN KEY([post_id])
REFERENCES [dbo].[post] ([post_id])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK__report__post_id__3B75D760]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK__report__reporter__3A81B327] FOREIGN KEY([reporter_id])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK__report__reporter__3A81B327]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_ReportContent] FOREIGN KEY([report_content_id])
REFERENCES [dbo].[ReportContent] ([ReportContentId])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_ReportContent]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK__users__role_id__267ABA7A] FOREIGN KEY([role_id])
REFERENCES [dbo].[user_role] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK__users__role_id__267ABA7A]

