<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginContrller</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Staff.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserStatus</servlet-name>
        <servlet-class>Controller.UpdateUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostController</servlet-name>
        <servlet-class>Controller.Post.ListPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>Controller.User.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostController</servlet-name>
        <servlet-class>Controller.Post.CreatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostDetailsController</servlet-name>
        <servlet-class>Controller.Post.ViewPostDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>Controller.AddStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUserController</servlet-name>
        <servlet-class>Staff.GetAllUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPendingPost</servlet-name>
        <servlet-class>Staff.GetPendingPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovePostController</servlet-name>
        <servlet-class>Staff.ApprovePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclinePostController</servlet-name>
        <servlet-class>Staff.DeclinePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExchangeController</servlet-name>
        <servlet-class>Controller.Post.CreateExchangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStaffController</servlet-name>
        <servlet-class>Staff.GetAllStaffController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginContrller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserStatus</servlet-name>
        <url-pattern>/UpdateUserStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostController</servlet-name>
        <url-pattern>/listPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/dashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostController</servlet-name>
        <url-pattern>/createPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostDetailsController</servlet-name>
        <url-pattern>/viewPostDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/AddStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUserController</servlet-name>
        <url-pattern>/GetAllUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPendingPost</servlet-name>
        <url-pattern>/GetPendingPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovePostController</servlet-name>
        <url-pattern>/ApprovePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclinePostController</servlet-name>
        <url-pattern>/DeclinePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExchangeController</servlet-name>
        <url-pattern>/createExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStaffController</servlet-name>
        <url-pattern>/GetAllStaffController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
