<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginContrller</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Staff.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserStatus</servlet-name>
        <servlet-class>Staff.UpdateUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUserController</servlet-name>
        <servlet-class>Staff.GetAllUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPendingPost</servlet-name>
        <servlet-class>Staff.GetPendingPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginContrller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserStatus</servlet-name>
        <url-pattern>/UpdateUserStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUserController</servlet-name>
        <url-pattern>/GetAllUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPendingPost</servlet-name>
        <url-pattern>/GetPendingPost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
