<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginContrller</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Staff.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserStatus</servlet-name>
        <servlet-class>Staff.UpdateUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostController</servlet-name>
        <servlet-class>Controller.Post.ListPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>Controller.User.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostController</servlet-name>
        <servlet-class>Controller.Post.CreatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostDetailsController</servlet-name>
        <servlet-class>Controller.Post.ViewPostDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>Controller.AddStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUserController</servlet-name>
        <servlet-class>Staff.GetAllUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPendingPost</servlet-name>
        <servlet-class>Staff.GetPendingPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovePostController</servlet-name>
        <servlet-class>Staff.ApprovePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclinePostController</servlet-name>
        <servlet-class>Staff.DeclinePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPendingExchange</servlet-name>
        <servlet-class>Staff.GetPendingExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExchangeController</servlet-name>
        <servlet-class>Controller.Post.CreateExchangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStaffController</servlet-name>
        <servlet-class>Staff.GetAllStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostContrller</servlet-name>
        <servlet-class>Controller.Post.EditPostContrller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogController</servlet-name>
        <servlet-class>Controller.Post.EditBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExchangeController</servlet-name>
        <servlet-class>Controller.Post.EditExchangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditBlogController</servlet-name>
        <servlet-class>Controller.Post.SaveEditBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditExchangeController</servlet-name>
        <servlet-class>Controller.Post.SaveEditExchangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePostController</servlet-name>
        <servlet-class>Controller.User.LikePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterestPostController</servlet-name>
        <servlet-class>Controller.User.InterestPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPostController</servlet-name>
        <servlet-class>Controller.User.ReportPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>Controller.User.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmailController</servlet-name>
        <servlet-class>Controller.LoginEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controller.User.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>Controller.User.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserInterestedController</servlet-name>
        <servlet-class>Controller.User.ListUserInterestedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostInterestedController</servlet-name>
        <servlet-class>Controller.User.ListPostInterestedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPostByPostTypeController</servlet-name>
        <servlet-class>Controller.Post.FindPostByPostTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPostByPostTypeAndCategoryController</servlet-name>
        <servlet-class>Controller.Post.FindPostByPostTypeAndCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanUserController</servlet-name>
        <servlet-class>Staff.BanUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportedExchange</servlet-name>
        <servlet-class>Staff.GetReportedExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportedPost</servlet-name>
        <servlet-class>Staff.GetReportedPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideReportedPostAndExchange</servlet-name>
        <servlet-class>Staff.HideReportedPostAndExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectReportController</servlet-name>
        <servlet-class>Staff.RejectReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPendingExchangeController</servlet-name>
        <servlet-class>Staff.SearchPendingExchangeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPendingPostController</servlet-name>
        <servlet-class>Staff.SearchPendingPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPendingExchangeDetail</servlet-name>
        <servlet-class>Staff.ViewPendingExchangeDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPendingPostDetailController</servlet-name>
        <servlet-class>Staff.ViewPendingPostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportDetailController</servlet-name>
        <servlet-class>Staff.ViewReportDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statisticViewPostDetail</servlet-name>
        <servlet-class>Staff.statisticViewPostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStatisticController</servlet-name>
        <servlet-class>Staff.viewStatisticController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyCommentController</servlet-name>
        <servlet-class>Controller.User.ReplyCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>Controller.User.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxHomePage</servlet-name>
        <servlet-class>Controller.SearchAjaxHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageSearchController</servlet-name>
        <servlet-class>Controller.HomePageSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePostController</servlet-name>
        <servlet-class>Controller.User.SavePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSavePostController</servlet-name>
        <servlet-class>Controller.User.ListSavePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostPublicStatus</servlet-name>
        <servlet-class>Controller.User.UpdatePostPublicStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOtherUserController</servlet-name>
        <servlet-class>Controller.User.ViewOtherUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportProcessHistory</servlet-name>
        <servlet-class>Staff.GetReportProcessHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePwdController</servlet-name>
        <servlet-class>Controller.User.ChangePwdController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginContrller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserStatus</servlet-name>
        <url-pattern>/UpdateUserStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostController</servlet-name>
        <url-pattern>/listPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/dashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostController</servlet-name>
        <url-pattern>/createPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostDetailsController</servlet-name>
        <url-pattern>/viewPostDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/AddStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUserController</servlet-name>
        <url-pattern>/GetAllUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPendingPost</servlet-name>
        <url-pattern>/GetPendingPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovePostController</servlet-name>
        <url-pattern>/ApprovePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclinePostController</servlet-name>
        <url-pattern>/DeclinePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPendingExchange</servlet-name>
        <url-pattern>/GetPendingExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExchangeController</servlet-name>
        <url-pattern>/createExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStaffController</servlet-name>
        <url-pattern>/GetAllStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostContrller</servlet-name>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogController</servlet-name>
        <url-pattern>/editBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExchangeController</servlet-name>
        <url-pattern>/editExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditBlogController</servlet-name>
        <url-pattern>/saveEditBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditExchangeController</servlet-name>
        <url-pattern>/saveEditExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePostController</servlet-name>
        <url-pattern>/likePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterestPostController</servlet-name>
        <url-pattern>/interestPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPostController</servlet-name>
        <url-pattern>/reportPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmailController</servlet-name>
        <url-pattern>/loginEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserInterestedController</servlet-name>
        <url-pattern>/listUserInterested</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostInterestedController</servlet-name>
        <url-pattern>/listPostInterested</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPostByPostTypeController</servlet-name>
        <url-pattern>/findPostByPostType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPostByPostTypeAndCategoryController</servlet-name>
        <url-pattern>/findPostByPostTypeAndCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanUserController</servlet-name>
        <url-pattern>/BanUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportedExchange</servlet-name>
        <url-pattern>/GetReportedExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportedPost</servlet-name>
        <url-pattern>/GetReportedPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideReportedPostAndExchange</servlet-name>
        <url-pattern>/HideReportedPostAndExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectReportController</servlet-name>
        <url-pattern>/RejectReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPendingExchangeController</servlet-name>
        <url-pattern>/SearchPendingExchangeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPendingPostController</servlet-name>
        <url-pattern>/SearchPendingPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPendingExchangeDetail</servlet-name>
        <url-pattern>/ViewPendingExchangeDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPendingPostDetailController</servlet-name>
        <url-pattern>/ViewPendingPostDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportDetailController</servlet-name>
        <url-pattern>/ViewReportDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statisticViewPostDetail</servlet-name>
        <url-pattern>/statisticViewPostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStatisticController</servlet-name>
        <url-pattern>/viewStatisticController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyCommentController</servlet-name>
        <url-pattern>/replyComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/deletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxHomePage</servlet-name>
        <url-pattern>/SearchAjaxHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageSearchController</servlet-name>
        <url-pattern>/HomePageSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePostController</servlet-name>
        <url-pattern>/SavePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSavePostController</servlet-name>
        <url-pattern>/ListSavePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostPublicStatus</servlet-name>
        <url-pattern>/UpdatePostPublicStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOtherUserController</servlet-name>
        <url-pattern>/ViewOtherUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportProcessHistory</servlet-name>
        <url-pattern>/GetReportProcessHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePwdController</servlet-name>
        <url-pattern>/ChangePwdController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
